.about-me-container{
    padding: 1.2rem;
}

.pfp{
    width: 13rem;
    height: 13rem;

    border: 2px solid black;
    border-radius: 100%;
}

.header{
    display: flex;

    margin: 1rem 0 1rem 0;
}

.header-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    padding-left: 2rem;
}

.name{
    font-size: 4rem;
}

.date, .weather{
    font-size: 2.3rem;
}

@media (max-width: 437px){
    .about-me-container{
        padding: 1.2rem;
    }

    .header-info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        width: 100%;
        
        padding-left: 0;
    }

    .pfp{
        width: 10rem;
        height: 10rem;
    }

    .header{
        flex-direction: column;
    }
}