.links-container{
    padding: 1.2rem;

    font-size: 2.3rem;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;

    margin-top: 1.1rem;
}

.link{
    padding: 0.8rem;
    border: 1px solid black;
    border-radius: 5px;

    width: 30%;

    justify-content: center;
}

.link, .link-a{
    display: flex;
    align-items: center;
}

.link-a{
    gap: 0.4rem;
    justify-content: space-between;
}

@media (max-width: 437px){
    .links-container{
        font-size: 1.4rem;
    }

    .logo-and-name > svg{
        width: 4rem;
        height: 4rem;
    }

    .icon{
        width: 1.7rem;
        height: 1.7rem;
    }
}