/* .skills-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;\
    
    padding: 1.2rem;
}

.skills-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-and-name{
    margin-top: 0.8rem;
    font-size: 2.1rem;
    text-align: center;
} */